---
layout: default
---
<section>
  <h2>{{ page.title }}</h2>
  <figure class="fullscreen">
    <img src="{{ site.url }}/assets/images/{{ page.featImage }}" alt="{{ page.featImageAlt }}" width="{{ page.featImageWidth }}" height="{{ page.featImageHeight }}">
  </figure>
  <p>{{ page.shotOn | date: "%-d %B %Y" }}</p>
  {{ content }}
  <p><a href="{{ site.url }}/assets/images/{{ page.featImage }}" target="_blank" title="Opens in a new tab">See fullscreen</a></p>
  {%- unless page.tags == empty -%}
  {%- if post -%}
    {%- assign tags = post.tags -%}
    {%- else -%}
    {%- assign tags = page.tags -%}
  {%- endif -%}
  <ul class="tags">
    {%- for tag in tags %}
    <li><a href="{{ site.url }}/tag/{{ tag | slugify | append: '/' }}">{{ tag | capitalize }}</a>&nbsp;{% unless forloop.last %}{% endunless %}{% endfor %}</li>
  </ul>
  {% endunless -%}
  <div class="pagination">
    {% if page.previous.url -%}
    <a class="pagination-prev" href="{{ site.url }}{{ page.previous.url }}">
      <span>&larr;&nbsp;Older</span>
      <span>{{ page.previous.title }}</span>
    </a>
    {%- endif %}
    {%- if page.next.url -%}
    <a class="pagination-next" href="{{ site.url }}{{ page.next.url }}">
      <span>Newer&nbsp;&rarr;</span>
      <span>{{ page.next.title }}</span>
    </a>
    {%- endif %}
  </div>
</section>